<ul>
  <% if ::Refinery::Multisites::Admin::MultisitesController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.multisites_admin_multisites_path %>
    </li>
  <% end %>
  <li>
    <%= action_label :add, refinery.new_multisites_admin_multisite_path, t('.create_new') %>
  </li>
<% if !searching? && ::Refinery::Multisites::Admin::MultisitesController.sortable? && ::Refinery::Multisites::Multisite.many? %>
  <li>
    <%= action_label :reorder,
                     refinery.multisites_admin_multisites_path,
                     t('.reorder', what:  "Multisites"), id: 'reorder_action'%>
    <%= action_label :reorder_done,
                     refinery.multisites_admin_multisites_path,
                      t('.reorder_done', what: "Multisites"), id: 'reorder_action_done', class: 'hidden'%>
  </li>
<% end %>
</ul>
