<% content_for :body do %>
  <ul id="multisites">
    <% @multisites.each do |multisite| %>
      <li>
        <%= link_to multisite.test, refinery.multisites_multisite_path(multisite) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
